.Badge_Item {
  background: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px 8px 8px 8px;
  overflow: hidden;
  height: 100px;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
}
